.nav-link {
  /* Nav */
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  /* Gredient */
  background: linear-gradient(42.55deg, #1b1816 3.11%, #a7604f 109.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: all 0.2s ease-in;
}

.nav-link:hover {
  font-weight: 800;
  scale: 1.1;
}

.nav-link.nav-link-active {
  font-weight: 800;
  scale: 1.1;
}
