@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Arial', serif;
}

/* Slick Slider */
.custom-slick .slick-arrow {
  top: 40%;
}
.custom-slick .slick-arrow.slick-prev {
  left: -35px;
}
.custom-slick .slick-arrow.slick-next {
  right: -40px;
}
.custom-slick .slick-arrow::before {
  content: '';
}
