@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Arial', serif;
  scroll-behavior: smooth;
}

.custom-gradient-text {
  background: linear-gradient(42.55deg, #1b1816 3.11%, #a7604f 109.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Slick Slider */
.custom-slick .slick-arrow {
  top: 40%;
}
.custom-slick .slick-arrow.slick-prev {
  left: 25px;
  @media (min-width: 1024px) {
    left: -35px;
  }
}
.custom-slick .slick-arrow.slick-next {
  right: 60px;
  @media (min-width: 1024px) {
    right: -40px;
  }
}
.custom-slick .slick-arrow.slick-next::before {
  content: url(/svg/right.svg);
}
.custom-slick .slick-arrow.slick-prev::before {
  content: url(/svg/left.svg);
}
